:root {
  --cherry: #5b2222;
}

.cta-button {
  color: $secondary-container;
  padding: 1rem 4rem;
  border: 2px solid;
  border-radius: 50px;
  font-family: 'termina', sans-serif;
  font-weight: 700;
  font-size: 1rem;
}

section h2 {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 37px;
}

section h3 {
  font-family: 'termina', sans-serif;
  font-size: 23px;
}
